html {
	background-color: #dfe3e6;	
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	line-height: 25px;
	background: #fff;
	width: 60%;
	margin: 15px auto 0 auto;
}
header {
	height: 100px;
	background: url('../images/logo.gif') no-repeat 25px;
}
nav	{
	width: 235px;
	float: left;
}
nav ul {
	list-style-type: none;
}
nav ul li a:link, nav ul li a:visited, main h2 {
	font-size: 14px;
	font-weight: bold;
	background: #dfe3e6 url('../images/bullet.gif') no-repeat 7px center;
	padding: 3px 0 3px 20px;
	border: solid #929ca4 1px;
	color: #cc1c0d;
}
nav ul li a:link, nav ul li a:visited {
	width: 110px;
	margin-bottom: 15px;
	text-decoration:none;
	display: block;
}				
nav ul li a:hover {
	color: #000;
	background-color: #ccc;
}
main {
	width: 447px;
	float: left;
	background-color: #fff;
	padding-right: 15px;
}
h3 {
	margin: 1em 0 0;
	color: #000080;
}
footer {
	height: 35px;
	background: url('../images/footer.gif');
	clear: both;
}
h1 {
	color: #cc1c0d;
	font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}
h1 small {
	color: grey;
    margin-left: 6px;
    font-size: 11px;
    font-weight: 400;
}
.btn-add {
	cursor: pointer;
    background-color: transparent;
	text-align: left;
	padding: 0 0 8px;
	border: 0px;
}
button:focus {
	outline: none;
}
button span {
	color: #cc1c0d;
	font-size: 20px;
}

input[type=date] {
	width: 90%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}
input[type=text] {
	width: 90%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}
.error {
	color: red;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

input[type=button] {
	background-color: red;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	margin-right: 5px;
}
input[type=submit]:hover {
	background-color: #45a049;
}

#container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	display:none;
	margin-top: 30px;
}

.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

.leftCol-75 {
	float: left;
	width: 75%;
}
.rightCol-25 {
	float: right;
	width: 25%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.todo-items {
	margin: 0; 
	padding: 0;
	min-width: 350px;
}
.vertical-center {
	margin: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
  }
  
  /* each li with class="item" */
  .item {
	background-color: #f2f2f2;
	margin: 0; 
	padding: 10px;
	padding-bottom: 25px;
	font-size: 1.1rem;

	height: 35px;
  	position: relative;
  }
  .item span {
	  color: gray;
	  font-size: .8em;
  }
  .ml31 {
	margin-left: 31px;
  }
  .item p{
	color: gray;
	font-size: .8em;
  }
  
  .item:first-child {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
  }
  
  .item:last-child {
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
  }
  
  /* item style end */
  
  .checkbox {
	margin-right: 10px;
  }
.norecord {
	color: gray;
	display: block;
}
main ul {
	list-style-type: none;
}
.delete-button {
	background-color: red;
	color: white;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	border: none;
}
.mt18 {
	margin-top: 18%;
}
.checked { 
	text-decoration: line-through;
}
.contact {
	border-radius: 5px;
	/* background-color: #f2f2f2; */
	padding: 20px;
	margin-top: 30px;
	width: 100%;
}
.contacts {
	border-radius: 5px;
	/* background-color: #f2f2f2; */
	padding: 10px;
	margin-top: 30px;
	width: 100%;
}